Vary: normalising requests

The selecting header fields from two requests are defined to match if and only if those in the first request can be transformed to those in the second request by applying any of the following:

* adding or removing whitespace, where allowed in the header field's syntax
* combining multiple header fields with the same field name (see Section 3.2 of [RFC7230])
* normalizing both header field values in a way that is known to have identical semantics, according to the header field's specification (e.g., reordering field values when order is not significant; case-normalization, where values are defined to be case-insensitive)
